@import url(../text/index.module.scss);

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button:first-of-type {
	background-color: #fff;
}

.button:first-of-type:hover {
	cursor: pointer;
}

.button:last-of-type {
	background-color: #ffc802;
}

.button:last-of-type:hover {
	background-color: #FFEDAB;
	cursor: pointer;
}
/*
.button:active {
	background: var(--gold, #ffc802);
}

.button:hover {
	background: var(--gold, #ffc802);
}*/
